.claim-address {
  width: 100%;
  overflow: hidden;
}

.claim-address__map-wrapper {
  position: relative;
  height: 264px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.claim-address__map {
  width: 100%;
  height: 100%;
  border: none;
}

.claim-address__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.claim-address__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--light_black);
  margin-bottom: 2rem;
}

.claim-address__form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.claim-address__input-wrapper {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 35px;
  width: 100%;
  max-width: 400px;
  height: 60px;
  box-shadow: 0px 1px 10px 0px #22222229;
  position: relative;
}

.claim-address__input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.claim-address__input-icon img {
  width: 1rem;
}

.claim-address__input {
  width: 330px;
  height: 50px;
  padding-left: 48px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  color: var(--light_black);
}

.claim-address__submit {
  position: absolute;
  right: 7px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.claim-address__bottom {
  background: var(--light_green);
  width: 100%;
  height: 73px;
  display: flex;
  justify-content: center;
}

.claim-address__bottom-inner {
  width: 1370px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  padding-left: 285px;
  padding-right: 280px;
}

.claim-address__bottom-text {
  font-size: 22px;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.claim-address__logo {
  height: 38px;
  width: auto;
  vertical-align: middle;
}

.button--join_us {
  background: white;
  border: none;
  padding: 10px 28px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 28px;
  cursor: pointer;
  transition: 0.2s ease;
  color: var(--light_black);
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1200px) {
  .claim-address__map-wrapper {
    height: 200px;
  }

  .claim-address__title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .claim-address__input-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .claim-address__input {
    height: 55px;
    font-size: 16px;
    padding-left: 48px;
    padding-right: 65px;
    border-radius: 28px;
  }

  .claim-address__submit {
    width: 45px;
    height: 45px;
    right: 8px;
  }

  .claim-address__bottom {
    height: auto;
    padding: 18px 0;
    background-color: #aad300;
  }

  .claim-address__bottom-inner {
    flex-direction: column;
    text-align: center;
    gap: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .claim-address__bottom-text {
    font-size: 16px;
    line-height: 100%;
    white-space: nowrap;
  }

  .claim-address__logo {
    height: 30px;
    width: auto;
  }

  .button.join_us {
    margin-top: 4px;
    align-self: center;
  }
}

@media (max-width: 768px) {
  .claim-address__map-wrapper {
    height: 420px;
  }
}

@media (max-width: 480px) {
  .claim-address__map-wrapper {
    height: 550px;
  }
}
