.events {
  position: relative;
  padding: 2rem;
  padding-bottom: 0;
  background-color: var(--gray_background);
}

.events__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0;
}

.events__title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.events__tabs {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 16px;
}

.events__tab {
  background: none;
  border: none;
  font-size: 1rem;
  color: var(--light_black);
  cursor: pointer;
  position: relative;
  transition: 0.2s;
  opacity: 50%;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.events__tab--active {
  color: var(--light_green);
  opacity: 100%;
}

.events__tab--active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  margin: auto;
  width: 20px;
  height: 3px;
  background: var(--light_green);
  border-radius: 2px;
}

.events__slider-wrapper {
  position: relative;
}

.event-card__image-wrapper {
  position: relative;
}
.events__arrow {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  border: none;
  background: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.25s ease;
}

.events__arrow img {
  width: 32px;
}

.events__arrow--left {
  left: 0.5rem;
}

.events__arrow--right {
  right: 0.5rem;
}

.events__arrow:hover {
  transform: translateY(-50%) scale(1.07);
}

.events__list {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  overflow: hidden;
  padding-bottom: 2rem;
}

.event-card {
  background: white;
  border-radius: 7px;
  box-shadow: 0px 1px 9px 0px #22222229;
  overflow: hidden;
  max-width: 320px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.event-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 18px rgba(0, 0, 1, 0.08);
}

.event-card__image-wrapper {
  position: relative;
  overflow: hidden;
}

.event-card__image {
  width: 100%;
  display: block;
  border-radius: 7px 7px 0 0;
  object-fit: cover;
}

.event-card__tag {
  position: absolute;
  top: 16px;
  left: 16px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 10px;
  font-weight: 400;
  line-height: 1;

  padding: 5px 8px;
  border-radius: 4px;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.event-card__tag--personal {
  background: var(--orange);
}

.event-card__tag--webinar {
  background: var(--light_green);
}

.event-card__date {
  position: absolute;
  top: 0px;
  right: 12px;

  background: var(--light_green);
  color: white;

  width: 63px;
  height: 57px;
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0px;
  line-height: 100%;

  z-index: 3;
}

.event-card__content {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.event-card__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.event-card__title {
  color: var(--light_black);
  font-size: 1rem;
  font-weight: 400;
}

.event-card__info {
  font-size: 12px;
  opacity: 50%;
}

.event-card__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.event-card__actions {
  display: flex;
  gap: 8px;
}

.event-card__btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}

.event-card__btn--add {
  background: none;
}

.event-card__btn--share {
  background-color: var(--gray_event-card);
}
.event-card__btn--share img {
  width: 12px;
  height: 12px;
}

.event-card__stats {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.9rem;
  color: var(--light_green);
  font-weight: 400;
}

.event-card__stats img {
  width: 18px;
  height: 11px;
}

@media (max-width: 786px) {
  .events__title {
    font-size: 22px;
  }

  .events__tabs {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .event-card__content {
    padding: 20px;
  }

  .event-card {
    display: none;
  }

  .event-card:first-child {
    display: block;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }

  .events__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
  }
  .events__list {
    justify-content: center;
  }

  .events__arrow--left {
    left: -20px;
  }

  .events__arrow--right {
    right: -20px;
  }
}
