.footer {
  background: var(--gray_footer);
  padding-top: 50px;
  padding-top: 33px;
  font-family: inherit;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 33px;
}

.footer__social-link img {
  display: block;
  width: 30px;
  height: 30px;
  transition: opacity 0.2s ease;
}

.footer__social-link img:hover {
  opacity: 0.7;
}

.footer__top {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 174px 40px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 120px;
}

.footer__column {
  flex: 1;
}

.footer__logo {
  width: 120px;
  margin-bottom: 20px;
}

.footer__contact-list {
  margin-top: 15px;
}

.footer__contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: 400;
  opacity: 50%;
}

.footer__contact-icon {
  width: 16px;
}

.footer__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
  color: var(--light_green);
  white-space: nowrap;
}

.footer__links li {
  margin-bottom: 14px;
  list-style: none;
}

.footer__links a {
  text-decoration: none;
  font-size: 14px;
  color: #6f7076;
  font-weight: 500;
  transition: 0.2s ease;
  white-space: nowrap;
}

.footer__links a:hover {
  color: var(--light_green);
}

/* NEWSLETTER */
.footer__newsletter-form {
  display: flex;
  background: #fff;
  overflow: hidden;
  border-radius: 40px;
  height: 38px;
  margin-top: 30px;
  max-width: 320px;
}

.footer__input {
  flex: 1;
  border: none;
  padding: 0 20px;
  font-size: 12px;
  font-weight: 500;
  outline: none;
  opacity: 50%;
}

.footer--button {
  background: var(--light_green);
  border: none;
  padding: 0;
  color: white;
  cursor: pointer;
  border-radius: 35px;
  transition: 0.2s;
  font-weight: 600;
  font-size: 12px;
  width: 120px;
}

/* COPYRIGHT */
.footer__bottom {
  background: var(--light_black);
  color: #fff;
  text-align: center;
  padding: 32px 0px 33px 0px;
  font-size: 16px;
  font-weight: 400;
}

/* RESPONSIVE */

@media (max-width: 1400px) {
  .footer__top {
    padding: 0 80px 40px;
    gap: 60px;
  }
}

@media (max-width: 1100px) {
  .footer__top {
    padding: 0 40px 40px;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__form {
    width: 100%;
  }

  .footer__input {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .footer__socials {
    justify-content: flex-start;
    padding-left: 24px;
  }

  .footer__top {
    grid-template-columns: 1fr;
    padding: 0 24px 40px;
    gap: 40px;
    text-align: left;
  }

  .footer__column {
    text-align: left;
  }

  .footer__bottom {
    font-size: 12px;
  }

  .footer__form {
    flex-direction: column;
    gap: 12px;
  }

  .footer__btn {
    width: 100%;
  }
}
