.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 103px;
  max-width: 1440px;
  margin: 0 auto;

}

/* LEFT SIDE */
.hero__content {
  margin-top: 131.5px;
  margin-left: 50px;
  margin-bottom: 147.5px;
  max-width: 50%;
}

.hero__title {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* SEARCH BAR */
.hero__search {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0 15px;
  border-radius: 35px;
  height: 70px;
  margin-top: 32px;
  box-shadow: 0px 1px 3px 0px #22222229;
  gap: 20px;
  max-width: 541px;
}

.hero__input-wrapper {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
}

.hero__search-icon {
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
}

.hero__search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 28px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.hero__search-button {
  background: none;
  border: none;
  cursor: pointer;
}

.hero__search-button img {
  height: 56px;
  width: 56px;
}

/* IMAGE */
.hero__image img {
  width: 100%;
  height: auto;
  max-width: 710px;
  margin-top: 28.5px;
  margin-right: 11px;
  margin-bottom: 44.5px;
}

@media (max-width: 1024px) {
  .hero {
    gap: 40px;
  }

  .hero__title {
    font-size: 2.2rem;
  }

  .hero__content {
    margin-left: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 55%;
  }

  .hero__image img {
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }

  .hero__content {
    margin: 0;
    max-width: 100%;
    width: 100%;
    padding: 0 8px;
  }

  .hero__title {
    font-size: 28px;
    padding-top: 36px;
  }

  .hero__search {
    width: 100%;
    height: 55px;
    padding: 0 10px;
    gap: 10px;
    margin: 18px auto 0;
  }

  .hero__search-icon {
    width: 12px;
  }

  .hero__search-input {
    font-size: 12px;
  }

  .hero__search-button img {
    width: 41px;
    height: 41px;
  }

  .hero__image img {
    width: 100%;
    max-width: 360px;
    margin: 0;
  }
}